/* @group shelf */

#shelf {
  position: absolute;
  left: -280px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  width: 280px;
  height: 100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

#shelf.push {
  left: 0px;
  width: 280px;
  height: 100%;
}

/*#shelf .clip {
  width: 280px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}*/

#shelf menu.primary {
  position: absolute;
  z-index: 300;
  width: 280px;
  top: 0;
  bottom: 0;
  height: 100%;
}

#shelf menu {
  margin: 0;
}

#shelf header.toolbar {
  height: 44px;
}

#shelf menu li {
  border-top-style: none;
}

#shelf menu li a p {
  color: #d4d3d3;
  text-shadow: 0 -1px 0 black;
  font-size: .8em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: .1em;
  max-height: 3em;
  overflow: hidden;
}

#shelf menu li+ul {
  -webkit-transition: all .2s ease-in-out;  
  -moz-transition: all .2s ease-in-out;   
  height: 0;
  overflow: hidden;
}

#shelf menu li.open+ul {
  height: 400px;
  overflow: scroll;
}

#shelf menu li ul li:first-child {
  border-top-style: solid;
}

#shelf menu a {
}

#shelf.push menu.primary {
  left: 0;
  padding: 0;
}

#shelf menu.primary, #shelf.unpush menu.primary {
/*  left: -280px;*/
}

#shelf.push {
  left: 0px;
}

#shelf.push ~ .container {
  left: 280px;
  right: -280px;
}

#shelf + .mask {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 280px;
  z-index: 1;
}

#shelf.push + .mask {
  display: block;
  z-index: 1000;
}

/* @end */

.modal {
  background-color: white;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  height: 97%;
  bottom: -100%;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  z-index: 1200;

}

.modal.push {
  bottom: 0;
}

.modal + .mask {
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

.modal.push + .mask {
  opacity: 1;
  display: block;
  z-index: 1100;
}


/* @group segmented controller */

.segmented, .seg {
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
}

.segmented li, .seg li {
  display: inline-block;
  border-right: 1px solid #999;
  margin-right: -4px;
}

.segmented li:last-child, .seg li:last-child {
  border-right: none;
  margin-right: 0;
}

.segmented li a, .seg li a {
  padding: 8px;
  display: block;
}

/* @end */

/* @group tab controller */

ul.tabs {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

ul.tabs li { 
  border: 0 solid silver;
  border-width: 1px 1px 0 0;
  display: table-cell;
  height: 44px;
  text-align: center;
  font-size: 12px;
}

ul.tabs li:last-child { 
  border-right: none; 
}

/* @end */

/* @group footer tab controller */

ul.tabs.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
}

ul.tabs.footer li {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
  background-color: #f6f7f6;
  border-bottom-style: none;
}

ul.tabs.footer li a {
  display: block;
  padding: 5px;
}

ul.tabs.footer li a i {
  display: block;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  padding-bottom: 6px;
  line-height: 1em;
  width: inherit;
}

/* @end */
