.container {
/*  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;*/
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
/*  overflow: hidden;*/
}

.container .content {
  -webkit-transition: all .3s ease-in-out;  
  -moz-transition: all .3s ease-in-out;  
}

.app {
  overflow: hidden;
}

header.bar + section {
  position: absolute;
  top: 44px;
  right: 0;
  left: 0;
  bottom: 0;
}

div.tabs .tab {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app ul.tabs.footer + .tabs {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 50px;
}

.stack {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
   position: relative;
   height: 100%;
   width: 100%;
 }

div[class*=" pos2-"] {
  left: -100%;  
}

/*.stack.pos2 {
  left: -100%;
}*/

/*.stack.pos3 {
  left: -200%;
}*/


.card {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.card.child {
  top: 0;
  left: 100%;
  position: absolute;
/*  display: none;*/
  opacity: 0;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
}


.scroll { 
  overflow: scroll;
  overflow-x: hidden;
  -moz-overflow-scrolling: touch;
  -moz-transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.scroll::-webkit-scrollbar, .scroll::-moz-scrollbar {
  display: none;
}

@media only screen and (min-width: 320px) {

.container .content { width: 320px; margin: 0 auto; }

}

@media only screen and (min-width: 480px) {

.container .content { width: 480px; margin: 0 auto; }

}

@media only screen and (min-width: 640px) {

.container .content { width: 640px; margin: 0 auto; }

}

@media only screen and (min-width: 800px) {

.container .content { width: 800px; margin: 0 auto; }

}

