.bar a.btn {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 7px 10px;
  font-size: 14px;
}

.bar .btn.right {
  position: absolute;
  top: 5px;
  right: 8px;
}

.bar .btn.left, .bar .btn.back {
  position: absolute;
  left: 8px;
  top: 5px;
}