.bar a.btn {
  border: 1px solid rgba(204, 204, 204, 0.39);
  border-radius: 4px;
  padding: 5px 14px;
  font-size: 12px;
  -moz-box-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  font-weight: bold;
}

.bar .btn.right {
  position: absolute;
  right: 5px;
  top: 6px;
}

.bar .btn.left, .bar .btn.back {
  position: absolute;
  left: 5px;
  top: 6px;
}