/* @group segmented controller */

.segmented, .seg {
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
}

.segmented li, .seg li {
  display: inline-block;
  border-right: 1px solid #999;
  margin-right: -4px;
}

.segmented li:last-child, .seg li:last-child {
  border-right: none;
  margin-right: 0;
}

.segmented li a, .seg li a {
  padding: 8px;
  display: block;
}

/* @end */

/* @group tab controller */

ul.tabs {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: 0 solid silver;
  border-width: 0 0 1px 1px;
}

ul.tabs li { 
  border: 0 solid silver;
  border-width: 1px 1px 0 0;
  display: table-cell;
  height: 44px;
  text-align: center;
  font-size: 12px;
}

.tabs.footer li { 
}

.tabs.footer li:last-child { 
  border-right: none; 
}

/* @end */

/* @group footer tab controller */

ul.tabs.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

ul.tabs.footer li {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

ul.tabs.footer li a {
  display: block;
  padding: 5px;
}

ul.tabs.footer li a i {
  display: block;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  padding-bottom: 6px;
  line-height: 1em;
}

/* @end */