.list {
  margin-bottom: 65px;
}

ul.list, .list ul  {
  background-color: #f6f7f6;
}

.list li {
  border-bottom: 1px solid #c9cac9;
  position: relative;
  font-size: 20px;
  padding: 14px 10px;
  border-top: 1px solid white;
  text-shadow: 0 1px 0 #ffffff;
}

.list li p {
  margin: 0 5px 10px;
  line-height: 1.4em;
  text-align: left;
  color: black;
  font-size: 14px;
}

.list p {
  text-align: center;
  color: #4b556b;
  font-size: 14px;
  text-shadow: 0 1px 0 #ffffff;
  margin-right: 20px;
  margin-left: 20px;
}

.list li a { 
  padding: 14px 10px;
  margin: -14px -10px;
  display: block;
  font-weight: bold;
}

.list small {
  display: block;
  color: #8f908f;
  font-weight: normal;
  font-style: normal;
  margin-bottom: -5px;
  font-size: 14px;
}

.list + small {
  background-color: red;
}

.list li p {
  font-size: 14px;
}

.list i {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}

.list i::before {
  top: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list i::before, .list i::after {
  position: relative;
  display: block;
  width: 12px;
  height: 4px;
  background-color: #999;
  content: '';
}

.list i::after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list li.header {
  color: white;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dedede), to(#a7a7a7));
  background-image: -moz-linear-gradient(90deg, #dedede 0%, #a7a7a7 100%);
  text-shadow: 0 1px 0 #696969;
  font-size: 18px;
}

.list.inset ul {
  margin: 10px;
  border-radius: 15px;
  -webkit-background-clip: padding-box;
  overflow: hidden;
  border: 1px solid #b6b8bd;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.75);
}

.list.inset ul li:last-child {
  border-bottom-style: none;
}


.list.inset ul li:first-child {
  border-top-style: none;
}

.list.inset h4 {
  padding: 20px 20px 0;
  font-weight: bold;
  color: #4b556b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  font-size: 18px;
}


@media only screen and (min-width: 760px) {

.list.inset ul {
  margin: 10px 30px;
}

.list.inset h4 {
  margin: 0 20px;
}

}
